<form (ngSubmit)="onSubmit()">

  <div class="form-group">
     
      <div class="col-xs-8">
          <input type="text" style="width: 300px" class="form-control" required
              [(ngModel)]="aircraft.brand" name="aircraftBrand" placeholder="Brand">
          <input type="text" style="width: 300px" class="form-control" required
              [(ngModel)]="aircraft.model" name="aircraftmodel" placeholder="Model">
           <input type="text" style="width: 300px" class="form-control" required
              [(ngModel)]="aircraft.plate" name="aircraftPlate" placeholder="Plate">
           <input type="text" style="width: 300px" class="form-control" required
              [(ngModel)]="aircraft.description" name="aircraftDescription" placeholder="Description">
      </div>
      <div>
      <input class="btn btn-success" type="submit" value="Create" />
      </div>        
  </div>
</form>