<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
    <h2>AEMET Time</h2>
  </div>
  <div class="time-panel">

  </div>
  <div class="panel-heading">
    <h2>Pilots</h2>
  </div>
  <div class="panel-body" style="position:relative">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th *ngFor="let column of pilotColumns">{{column}}</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of pilotRows">
            <td>{{row.id}}</td>
            <td>{{row.name + " " + row.last_name}}</td>
            <td>{{row.number_of_licence}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <a href="/pilots/add" class="btn btn-info" role="button">
      <img src="assets/icons/ic_add.png" alt="">Create
    </a>
    <a href="/pilots" class="btn btn-success" role="button">Pilot Managenent</a>

    <div class="panel-heading">
      <h2>Aircrafts</h2>

    </div>
    <div class="panel-body" style="position:relative">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th *ngFor="let column of aircraftColumns">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of aircraftRows">
              <td>{{row.id}}</td>
              <td>{{row.brand}}</td>
              <td>{{row.model}}</td>
              <td>{{row.plate}}</td>
              <td>{{row.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="/aircrafts/add" class="btn btn-info" role="button">
        <img src="assets/icons/ic_add.png" alt="">Create
      </a>
      <a href="/aircrafts" class="btn btn-success" role="button">Aircraft Managenent</a>

      <div class="panel-heading">
        <h2>Fligths</h2>

      </div>
      <div class="panel-body" style="position:relative">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th *ngFor="let column of flightColumns">{{column}}</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let row of flightRows">
                <td> {{row.id}}</td>
                <td>{{row.flight_day}}</td>
                <td>{{row.start_time | date: 'HH:mm:ss'}} </td>
                <td>{{row.end_time | date: 'HH:mm:ss'}}</td>
                <td>{{row.type_of_flight}}</td>
                <td>{{row.pilot_name}}</td>
                <td>{{row.aircraft_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="/flight_attributes/add" class="btn btn-info" role="button">
          <img src="assets/icons/ic_add.png" alt="">Create
        </a>
        <a href="/flight_attributes" class="btn btn-success" role="button">Flight Managenent</a>

      </div>