<form (ngSubmit)="onSubmit()">

    <div class="form-group">

        <div class="col-xs-8">
            <input type="date" style="width: 300px" class="form-control" required [(ngModel)]="flight.flight_day" name="fligthDay" placeholder="Fligth Day">
            <input type="time" style="width: 300px" class="form-control" required [(ngModel)]="flight.start_time" name="flightstartTime"
                placeholder="Start Time">
            <input type="time" style="width: 300px" class="form-control" required [(ngModel)]="flight.end_time" name="flightendTime"
                placeholder="End Time">
            <input type="text" style="width: 300px" class="form-control" required [(ngModel)]="flight.type_of_flight" name="flighttypeOfFlight"
                placeholder="Type Of Flight">
            <div>
                <select [(ngModel)]="flight.pilot_id" [ngModelOptions]="{standalone: true}" style="width: 300px; margin: 10px 0" required>
                    <option *ngFor="let pilot of pilots" [value]="pilot.id">{{pilot.name}} - {{pilot.number_of_licence}}</option>
                </select>
            </div>
            <div>
                <select [(ngModel)]="flight.aircraft_id" [ngModelOptions]="{standalone: true}" style="width: 300px; margin: 10px 0" required>
                    <option *ngFor="let aircraft of aircrafts" [value]="aircraft.id">{{aircraft.model}} - {{aircraft.brand}} - {{aircraft.plate}}</option>
                </select>
            </div>

        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Create" />
        </div>
    </div>
</form>