<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1>
      <strong>Demo Aircrafts Management</strong>
    </h1>
    <h2>
      <strong>Project technologies:</strong> Angular 2+ & Bootstrap 4 & Ruby on Rails 5.1.4
    </h2>
    <h3>By Alexander and Iru</h3>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <nav class="navbar navbar-dark bg-primary">
        <a routerLink="/">General</a>
      </nav>
    </div>
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>