<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
      Pilots
  </div>
  <div class="panel-body" style="position:relative">
      <div class="table-responsive">
          <table class="table">
                <thead class="thead-light">
                  <tr>
                      <th>Actions</th>
                      <th>{{columns[0]}}</th>
                      <th>{{columns[1]}}</th>
                      <th>Actions</th>                 
                  </tr>
              </thead>
              <tbody>
  
                  <tr *ngFor="let row of rows">
                      <td><button class="btn btn-danger" (click)="delete(row['id'])">delete</button></td>
                      <td>{{row.id}}</td>
                      <td>{{row.name + " " + row.last_name}}</td>                                             
                      <td><button class="btn btn-info" (click)="update(row['id'])">update</button> </td>                 
                  </tr>
              </tbody>
          </table>
      </div>
  </div>