<form (ngSubmit)="onSubmit()">

  <div class="form-group">
     
      <div class="col-xs-8">
          <input type="text" style="width: 300px" class="form-control" required
              [(ngModel)]="pilot.name" name="pilotName" placeholder="name">
          <input type="text" style="width: 300px" class="form-control" required
              [(ngModel)]="pilot.last_name" name="pilotLastName" placeholder="last name">
           <input type="text" style="width: 300px" class="form-control" required
              [(ngModel)]="pilot.number_of_licence" name="pilotNumberOfLicence" placeholder="number of licence">
      </div>
      <div>
        <input class="btn btn-success" type="submit" value="Create" />
      </div>        
  </div>
</form>