/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Bitter);
div {
  font-family: "Mina", sans-serif;
}

a {
  color: white;
  font-family: "Bitter", serif;
}
a:hover {
  color: white;
}

input {
  margin: 10px 0;
  width: 150px;
}

.panel-heading {
  margin: 10px 0;
}
