<div class="panel panel-default" style="margin-top:10px;">
    <div class="panel-heading">
        Fligths
    </div>
    <div class="panel-body" style="position:relative">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Actions</th>
                        <th *ngFor="let column of columns">{{column}}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let row of rows">
                        <td scope="row">
                            <button class="btn btn-danger" (click)="delete(row['id'])">delete</button>
                        </td>
                        <td> {{row.id}}</td>
                        <td>{{row.flight_day}}</td>
                        <td>{{row.start_time | date: 'HH:mm:ss'}}</td>
                        <td>{{row.end_time | date: 'HH:mm:ss'}}</td>
                        <td>{{row.type_of_flight}}</td>
                        <td>{{row.pilot_name}}</td>
                        <td>{{row.aircraft_name}}</td>
                        <td>
                            <button class="btn btn-info" (click)="update(row['id'])">update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>